<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmovie.mapper.BookReviewMapper">
	
	
	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="bReview">
       insert into Board(BRD_NO,USER_ID,BRD_TYPE,BRD_CATEGORY,BRD_TITLE,BRD_CONTENT,BRD_DATE,BRD_VIEWS) 
        values(
         BRD_NO.NEXTVAL,#{userId},1001,#{bookCat},#{brdTitle},#{brdContent},sysdate, 0
        )
    </insert> 
	<!-- 보드메타 인서트 작성 -->
	<insert id="insert2" parameterType="bReview">
       insert into Board_meta(BRD_NO,USER_ID,BOOK_SERIAL_NO, GPOINT) 
        values(
         #{brdNo},#{userId},#{serialNo},#{gPoint}
        )
    </insert> 
    

	<!-- 글수정 -->
	<update id="update" parameterType="bReview" >
        update Board
        set brd_title = #{brdTitle},
      	brd_content = #{brdContent}
        where brd_no = #{brdNo}
    </update>
    
    <!-- 글삭제 -->
     <delete id="delete" parameterType="bReview" >
    	delete from Board
    	where brd_no = #{brdNo}
    </delete>
    
	<!-- 북리뷰 개수 -->
     <select id="size" resultType="int" parameterType="Command" >
        select count(*)
	    from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
        join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
        where brd.brd_type = 1001
    </select>
    <!-- 검색어 결과 갯수 -->
    <select id="keywordsize" resultType="int" parameterType="Command" >
        select count(*) 
         	from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
        	join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
        where brd.brd_type = 1001 and ${searchKey} like '%' || #{searchVal} || '%'
    </select>
    
     <!-- 리뷰작성 확인 -->
    <select id="count" resultType="int" parameterType="Command" >
        select count(*) 
             from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
            join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
        where meta.book_serial_no = #{searchKey}
        and meta.user_id like #{searchVal}
    </select>
    
    <!-- 통합검색 -->
    <select id="search" resultType="bReview" parameterType="Command">
         select t2.* from (select
          rownum as seq, t.* 
         from(
        select 
	    META.BRD_NO as brdNo,
	     META.USER_ID as userId,
	     B.IMG_ADDR as imgAddr,
	     B.BOOK_TITLE as bTitle,
	     B.BOOK_SERIAL_NO as serialNo,
	     brd.brd_title brdTitle,
	     brd.brd_date as brdDate,
	     brd.brd_views as brdViews
         from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
        join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
         where ${searchKey} like '%' || #{searchVal} || '%'
         and brd.brd_type = 1001
         order by brd.brd_date desc
         ) t)t2 
    	where t2.seq between #{start} and #{end}
    	order by t2.seq asc
    </select>
    
    <!-- 리스트 출력 -->
    <select id="list" resultType="bReview" parameterType="Command" >
	    select t2.* from (select
          rownum as seq, t.* 
         from(
	    select 
	    META.BRD_NO as brdNo,
	     META.USER_ID as userId,
	     B.IMG_ADDR as imgAddr,
	     B.BOOK_TITLE as bTitle,
	     B.BOOK_SERIAL_NO as serialNo,
	     brd.brd_title brdTitle,
	     brd.brd_date as brdDate,
	     brd.brd_views as brdViews
		from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
        join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
        where brd.brd_type = 1001
        order by brd.brd_No desc
         ) t)t2 
    	where t2.seq between #{start} and #{end}
    	order by t2.seq asc
  </select>
  
  	<!-- 리뷰 상세보기 -->
     <select id="detail" resultType="bReview" parameterType="Command">
          select
        META.BRD_NO as brdNo,
	     META.USER_ID as userId,
	     B.IMG_ADDR as imgAddr,
	     B.BOOK_TITLE as bTitle,
	     B.BOOK_SERIAL_NO as serialNo,
	     brd.brd_title brdTitle,
	     brd.brd_date as brdDate,
	     brd.brd_views as brdViews,
	     brd.brd_content as brdContent
         from BOARD_META meta join BOARD brd on META.BRD_NO = BRD.BRD_NO
        join BOOK b on B.BOOK_SERIAL_NO = meta.book_serial_no
        where brd.brd_no = #{searchVal}
    </select>
    
    <!-- 리뷰 책정보 가져오기 -->
    <select id="detail2" resultType="bReview" parameterType="Command">
           select
           book_serial_no as serialNo,
           book_title as bTitle,
           book_category as bookCat
           from book
        where ${searchKey} = #{searchVal}
    </select>
    
    <!-- 보드 메타 정보 가져오기 -->
    <select id="boardMeta" resultType="bReview" parameterType="Command">
           select
           brd_no as brdNo,
           user_id as userId,
           book_serial_no as serialNo,
           gpoint as gPoint
           from BOARD_META
        where brd_no = #{searchVal}
    </select>
    
    <!-- 리뷰 시퀀스 -->
    <select id="getBrdSeq" resultType="int" >
    	SELECT BRD_NO.CURRVAL FROM dual 
    </select>

</mapper>
